<!-- Message Area -->
<div class="d-none d-sm-flex flex-column col-12 col-sm-7 col-md-8 p-0 h-100" id="message-area">
    <div class="w-100 h-100 overlay"></div>
    <!-- Navbar -->
    <div class="row d-flex flex-row align-items-center p-2 m-0 w-100" id="navbar">
        <div class="d-block d-sm-none">
            <i class="fas fa-arrow-left p-2 mr-2 text-white" style="font-size: 1.5rem; cursor: pointer;"></i>
        </div>
        <a href="#"><img src="/vendor/whatsapp/images/asdsd12f34ASd231.png" alt="Profile Photo" class="img-fluid rounded-circle mr-2" style="height:50px;" id="pic"></a>
        <div class="d-flex flex-column">
            <div class="text-white font-weight-bold" id="name"></div>
            <div class="text-white small" id="details"></div>
        </div>
        <div class="d-flex flex-row align-items-center ml-auto">
            <!--<a href="#"><i class="fas fa-search mx-3 text-white d-none d-md-block"></i></a>-->
            <a href="#" id="attach-file" title="files"><i class="fas fa-paperclip mx-3 text-white d-none d-md-block"></i></a>
            <a href="#" id="video-open" title="video call"><i class="fa fa-video mx-3 text-white d-none d-md-block"></i></a>
            <!--<a href="#"><i class="fas fa-ellipsis-v mr-2 mx-sm-3 text-white"></i></a>-->
        </div>
    </div>

    <!-- Messages -->
    <div class="d-flex flex-column" id="messages"></div>

    <!-- Input -->
    <div class="d-none justify-self-end align-items-center flex-row" id="input-area">
        <a href="#"><i class="far fa-smile text-muted px-3" style="font-size:1.5rem;"></i></a>
        <input type="text" name="message" id="input" placeholder="Type a message" class="flex-grow-1 border-0 px-3 py-2 my-3 rounded shadow-sm">
        <i class="fas fa-paper-plane text-muted px-3" style="cursor:pointer;" onclick="I.btnSendHandler()"></i>
    </div>

</div>
