{% extends 'layout.html' %}

{% block content %}

        <div class="input-nicname ui-widget-content">

            <form method="post" action="/choosenicname">
                <div class="error">{% if message %}{{message}}{% endif %}</div>
                <label>Input your nick: </label>
                <div>
                    <input type="text" name="nicname"/>
                    <button>Save</button>
                </div>
            </form>
            <div class="header ui-widget-header">
                <img src="/img/chat-logo2.png" class="logo">
                <h1>Free p2p video chat without registration with channel encryption</h1>
                {% include 'banner.html' %}
            </div>
        </div>

<script>
    if (!navigator.cookieEnabled) {
        alert( 'Включите cookie для комфортной работы с этим сайтом' );
    }
</script>
{% endblock %}