{% extends 'layout2.html' %}

{% block content %}

<link href="/css/signin.css" rel="stylesheet">
<body class="text-center">

<form class="form-signin" method="post" action="/choosenicname">
    <img class="mb-4" src="/img/file-video.svg" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="Nickname" class="sr-only">Nickname</label>
    <input type="text" id="Nickname" class="form-control" placeholder="Nickname" required autofocus name="nicname">
    <!--<div class="checkbox mb-3">
        <label>
            <input type="checkbox" value="remember-me"> Remember me
        </label>
    </div>-->
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    {% if message %}
    <p>&nbsp;</p>
    <div class="alert alert-danger" role="alert">
        {{message}}
    </div>
    {% endif %}
    <p class="mt-5 mb-3 text-muted">&copy;2021</p>
</form>
</body>


<script>
    if (!navigator.cookieEnabled) {
        alert( 'Включите cookie для комфортной работы с этим сайтом' );
    }
</script>
{% endblock %}