{% extends 'layout.html' %}

{% block js %}
    {% include 'jsblock.html' %}
{% endblock %}

{% block content %}

<div class="container-fluid" id="main-container">
    <div class="row h-100">
        <div class="col-12 col-sm-5 col-md-4 d-flex flex-column" id="chat-list-area" style="position:relative;">

            {% include 'panel.html' %}

            <!-- Chat List -->
            {% include 'userlist.html' %}

            <!-- Profile Settings -->
            {% include 'profile_settings.html' %}
        </div>

        <!-- Message Area -->
        {% include 'chat.html' %}
    </div>
</div>

{% endblock %}