<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Whatsapp</title>
    <link rel="stylesheet" href="/vendor/jquery-ui/jquery-ui.min.css">
    <link rel="stylesheet" href="/vendor/jquery-ui/jquery-ui.theme.min.css">
    <link rel="stylesheet" href="/vendor/jquery-ui/jquery-ui.structure.min.css">
    <link rel="stylesheet" href="/vendor/bootstrap/bootstrap.min.css">
    <script src="/vendor/jquery/jquery-1.12.4.js"></script>
    <script src="/vendor/jquery-ui/jquery-ui.min.js"></script>

    {% block js %}{% endblock %}
</head>

{% block content %}
{% endblock %}
</html>