<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>Whatsapp</title>
    <link rel="stylesheet" href="/vendor/bootstrap/4.1.0/bootstrap.min.css">
    <link rel="stylesheet" href="/vendor/fontawesome/css/all.css">
    <link rel="stylesheet" href="/vendor/jquery-ui/jquery-ui.min.css">
    <link rel="stylesheet" href="/vendor/emojionearea/emojionearea.min.css">
    <link rel="stylesheet" href="/vendor/whatsapp/style.css">
    <script src="/vendor/jquery/jquery-3.6.0.min.js"></script>
    {% block js%} {% endblock %}
</head>

<body class="noscroll">

{% block content %} {% endblock %}

<script src="/vendor/popper/popper.min.js"></script>
<script src="/vendor/bootstrap/4.1.0/bootstrap.min.js"></script>
</body>

</html>