<div id="video-wrap" class="w-100 h-100">

    <video class="remoteVideo w-100 h-100" id="remoteVideo" autoplay><span></span></video>

    <video class="localVideo" id="localVideo" autoplay muted><span>{{nicname}}</span></video>

    <div class="call-buttons">
        <button class="btn btn-success" title="Call" id="callButton"><img class="icon" src="/img/phone.svg"/></button>
        <button class="btn btn-danger" title="Finish call" id="hangupButton" style="display: none;"><img class="icon" src="/img/phone-hang-up.svg"/></button>
        <button class="btn btn-info" title="ShareScreen" id="screenshareButton" style="display: none;"><img class="icon" src="/img/screenshare.svg"/></button>
        <button class="btn btn-warning" title="Camera Off" id="videoOff" style="display: none;"><img class="icon" src="/img/camera-mute.svg"/></button>
        <button class="btn btn-dark" title="Camera On" id="videoOn" style="display: none;"><img class="icon" src="/img/camera2.svg"/></button>
        <button class="btn btn-warning" title="Microphon Off" id="audioOff" style="display: none;"><img class="icon" src="/img/audio-mute.svg"/></button>
        <button class="btn btn-dark" title="Microphon On" id="audioOn" style="display: none;"><img class="icon" src="/img/audio.svg"/></button>
    </div>

</div>